<template name="release_page">

	<section id="release_info" class="container">
		<a href="http://naafi.mx"><img src="/naafi-logo-white.png" id="logo" /></a>
		<h3>{{artist}} - {{title}}</h3>

		<img src="{{artwork}}">

		<div><pre>{{tracklisting}}</pre></div>

		<div><pre>{{about}}</pre></div>

		{{#if downloadActive expiry}}
			{{timeLeft expiry}}
		{{else}}
			<a href="{{purchaseLink}}">Buy</a>
		{{/if}}

	</section>

	{{#if downloadActive expiry}}
		<section id="capture_email" class="container">

			<form role="form" class="form-inline" id="captureform">
				<div class="form-group">
					<label class="sr-only" for="email">Your email address</label>
		    		<input type="hidden" id="release" value="{{_id}}" required>
		    		<input type="email" class="form-control" id="email" placeholder="your@email.address" required>
				</div>

				<button type="submit" class="btn btn-default">DOWNLOAD</button>
			</form>

			<span class="thanks">Thanks. Check your email for your download link.</span>

		</section>
	{{/if}}

</template>